<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="reactUrl" value="https://jsplrjtest.prowessbeat.net" />
	<parameter name="reactUsername" value="6001" />
	<parameter name="reactPassword" value="tELE@6001" />
	<parameter name="dialerUrl" value="https://psspldialer.prowessbeat.net/" />
	<parameter name="dialerUsername" value="6001" />
	<parameter name="dialerPassword" value="Axc45fgvb54" />

	<listeners>
		<listener class-name="com.jspl_automation.TestComponents.Listeners" />
	</listeners>
	
	<test name="TelecallinTest">

		<classes>
			<class name="com.jspl_automation.OutboundTask.TelecallinTest" />
		</classes>
		
	</test> <!--
	Test -->
</suite> <!--
Suite -->
